*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: #7f4bd1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.input-row input, .input-row select, .input-row button {
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    min-width: 100px;
}

.input-row button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-row button:hover {
    background-color: #0056b3;
}

.filter-row {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.total {
    margin-top: 20px;
    font-size: 1.2em;
}

.filter-row{
    float: right;
    margin-top: 2rem;
}